.fe-editor{
	padding: 10px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	position: relative;
}
.fe-toolbar{
	background: #d3e3f2;
}
.fe-fixed{
	position: fixed !important;
	width: 100%;
	text-align: center;
	top: 0;
	left: 0;
	z-index: 99;
}
.fe-body{
	font-size: 0;
	white-space: nowrap;
	width: 100%;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.fe-body>div{
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	white-space: normal;
	height: 100%;
	transition: width .5s;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
}
.fe-body-left,
.fe-body-right{
	width: 0;
}
.fe-body-center{
	width: 100%;
}
.fe-body.showleft .fe-body-left,
.fe-body.showright .fe-body-right{
	width: 20%;
}
.fe-body.showleft .fe-body-center,
.fe-body.showright .fe-body-center{
	width: 80%;
}
.fe-edit{
	border: 1px solid #ddd;
	overflow: auto;
	background: #fff;
	box-shadow: inset #898 1px 1px 2px;
	font-size: 16px;
	height: 100%;
}
.fe-edit:focus{
	outline: 1px solid #9abae2;
}

.fe-tool{
	display: inline-block;
	vertical-align: middle;
	width: 24px;
	height: 22px;
	margin: 3px 0;
	border-top: 1px solid #79b;
	border-bottom: 1px solid #79b;
	border-left: 1px solid #9be;
	border-right: none;
	outline: none;
	cursor: pointer;
	background: #c0d4ed url(default.png) no-repeat;
}
.fe-tool-first{
	border-left: 1px solid #79b;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	margin-left: 2px;
}
.fe-tool-last{
	border-right: 1px solid #79b;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	margin-right: 2px;
}
.fe-tool-groupseparate{
	width: 1px;
	height: 18px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
	margin-right: 5px;
	background: #79b;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.fe-tool:hover{background-color: #8bf;}
.fe-tool-bold{background-position: 3px 5px;}
.fe-tool-italic{background-position: 3px -15px;}
.fe-tool-underline{background-position: 3px -35px;}
.fe-tool-strikethrough{background-position: 3px -55px;}
.fe-tool-subscript{background-position: 3px -75px;}
.fe-tool-superscript{background-position: 3px -95px;}
.fe-tool-forecolor{background-position: 3px -115px;}
.fe-tool-backcolor{background-position: 3px -135px;}
.fe-tool-border{background-position: 3px -155px;}
.fe-tool-justifyleft{background-position: 3px -175px;}
.fe-tool-justifycenter{background-position: 3px -195px;}
.fe-tool-justifyright{background-position: 3px -215px;}
.fe-tool-justifyfull{background-position: 3px -235px;}
.fe-tool-linespacing{background-position: 3px -255px;}
.fe-tool-findreplace{background-position: 3px -275px;}
.fe-tool-image{background-position: 3px -295px;}
.fe-tool-fileupload{background-position: 3px -315px;}
.fe-tool-link{background-position: 3px -335px;}
.fe-tool-unlink{background-position: 3px -355px;}
.fe-tool-fontname{background-position: 3px -375px;}
.fe-tool-fontsize{background-position: 3px -395px;}
.fe-tool-zhconvert{background-position: 3px -415px;}
.fe-tool-preview{background-position: 3px -435px;}

/* btn start */
.fe-btn{
	display: inline-block;
    padding: 6px 12px;
    margin: 5px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei",Arial,sans-serif;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
}
.fe-btn-default{
	color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.fe-btn-default:hover{
	background: #ddd;
}
.fe-btn-success{
	color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.fe-btn-success:hover{
	background: #393;
}
.fe-btn-warning{
	color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}
.fe-btn-warning:hover{
	background: #de971b;
}
.fe-btn.disabled{
	pointer-events: none;
	background: #eee;
	color: #888;
	border: 1px solid #ccc;
}
.fe-btn-sm{
	padding: 2px 8px;
}
/*btn end*/

/*close start*/
.fe-close{
	display: block;
	position: absolute;
	top: 2px;
	right: 2px;
	font-size: 20px;
	line-height: 14px;
	width: 18px;
	height: 18px;
	padding: 0;
	cursor: pointer;
}
/*close end*/
/*input text start*/
.fe-input{
	padding: 4px 8px;
    margin: 5px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
}
/*input text end*/

/*dialog start*/
.fe-dialog{
	width: 100%;
	max-width: 360px;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #aaa;
	box-shadow: #888 1px 1px 8px 2px;
	position: fixed;
	background: #fff;
	box-sizing: border-box;

	transition: opacity .5s;
	opacity: 0;
}
.fe-dialog.fadeIn{
	opacity: 1;
}
.fe-dialog-header{
	min-height: 30px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 5px;
}
.fe-dialog-body{
	min-height: 50px;
	border-bottom: 1px solid #ddd;
}
.fe-dialog-footer{
	min-height: 30px;
	margin-top: 5px;
	text-align: right;
}
.fe-dialog-mask{
	position: fixed;
	background: #fff;
	opacity: .7;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
/*dialog end*/
/*dialogMsg start*/
.fe-dialogMsg-header{
	color: #c00;
}
.fe-dialogMsg-body{
	font-size: 14px;
	line-height: 1.6em;
	color: #333;
}
/*dialogMsg end*/

/*progress bar start*/
.fe-progress{
	display: table;
	width: 100%;
	margin: 10px 0;
}
.fe-progress>*{
	display: table-cell;
	vertical-align: middle;
}
.fe-progress-track{
	border: 3px double #ddd;
	border-radius: 4px;
	height: 14px;
	overflow: hidden;
	background: #fff;
	box-sizing: border-box;
}
.fe-progress-slider{
	display: block;
	width: 1%;
	height: 100%;
	background: #58e;
}
.fe-progress-percent{
	max-width: 60px;
	width: 60px;
	text-align: center;
}
/*progress bar end*/

/*checkbox start*/
.fe-checkbox{
	display: inline-block;
	width: 14px;
	height: 14px;
	border: 3px double #bcd;
	border-radius: 2px;
	margin: 5px;
	position: relative;
	cursor: pointer;
	vertical-align: middle;
	background: #fff;
	padding: 0;
	box-sizing: border-box;
}
.fe-checkbox:focus{
	outline: none;
}
.fe-checkbox.checked{
	border: 3px double #e46c16;
}
.fe-checkbox.checked::after{
	content: '';
	display: block;
	position: absolute;
	width: 10px;
	height: 5px;
	top: -3px;
	left: 0;
	border-left: 2px solid #e46c16;
	border-bottom: 2px solid #e46c16;
	transform: rotateZ(-45deg);
}
/*checkbox end*/

/*radio start*/
.fe-radio{
	display: inline-block;
	width: 14px;
	height: 14px;
	border: 4px double #bcd;
	border-radius: 100%;
	margin: 5px;
	position: relative;
	cursor: pointer;
	vertical-align: middle;
	background: #fff;
	padding: 0;
	box-sizing: border-box;
}
.fe-radio:focus{
	outline: none;
}
.fe-radio.checked{
	border: 1px solid #e46c16;
}
.fe-radio.checked::after{
	content: '';
	display: block;
	width: 6px;
	height: 6px;
	margin: 2px auto;
	border-radius: 100%;
	background: #e46c16;
}
/*radio end*/

/*loading start*/
.fe-loadui{
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 200px;
	height: 150px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	border-radius: 6px;
	transition: all .5s;
}
.fe-loadui-icon{
	width: 50px;
	height: 50px;
	border: 6px dashed #fff;
	border-radius: 100%;
	margin: 30px auto 15px;
	animation: loadui 2s infinite linear .5s;
}
.fe-loadui-text{
	color: #fff;
	font-size: 14px;
	text-align: center;
}
@keyframes loadui {
	from {
		transform: rotateZ(0);
	}to{
		transform: rotateZ(360deg);
	}
}
.fe-loadui-gif{
	max-width: 30px !important;
}
/*loading end*/

/*attr edit start*/
.fe-attr-edit{
	display: table;
	width: 100%;
	height: 50px;
}
.fe-attr-edit-row{
	display: table-row;
}
.fe-attr-edit-row>*{
	display: table-cell;
	vertical-align: middle;
}
.fe-attr-edit-name{
	max-width: 80px;
	min-width: 80px;
	width: 80px;
	height: 20px;
	color: #555;
}
.fe-attr-edit-input{
	width: 100%;
	box-sizing: border-box;
	margin: 10px 0;
}
/*attr edit end*/
.fe-move-img-bg{
	background: #eee;
	position: relative;
}
.fe-move-img-bg::after{
	content: '上下键移动图片';
	position: absolute;
	width: 30px;
	height: 110px;
	font-size: 14px;
	padding: 5px;
	top: 0;
	bottom: 0;
	right: 30px;
	text-indent: 0;
	line-height: 1.1em;
	text-align: center;
	margin-top: auto;
	margin-bottom:  auto;
	background: #555;
	color: #fff;
	border-radius: 4px;
	box-shadow: #000 2px 2px 3px;
	opacity: .8;
}
