.re-edit{
    min-height: 3em;
    width: 100%;
    border: #ddd solid 1px;
    box-sizing: border-box;
}
.re-toolbar{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #eee;
    padding: 10px 20px;
    box-shadow: 0 1px 3px #adafb1;
    box-sizing: border-box;
    transition: all .8s;
    transform: translateY(-100%);
}
.re-toolbar::after{
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    min-height: 10px;
    background: transparent;
}
.re-toolbar-active,
.re-toolbar:hover{
    transform: translateY(0);
}
.re-tool{
    padding: .5em;
    font-size: 14px;
    line-height: 1;
    display: inline-block;
    cursor: pointer;
    user-select: none;
}
.re-tool:hover{
    background: #ccc;
}

/*style*/
.re-success{
    background-color: #419641;
}
.re-warning{
    background-color: #eb9316;
}
.re-danger{
    background-color: #d06a4b;
}

/*form*/
.re-input-l,
.re-input-m,
.re-input-s,
.re-btn-l,
.re-btn-m,
.re-btn-s{
    outline: none;
    border: 1px solid;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
}
.re-input-l,
.re-input-m,
.re-input-s{
    color: #333;
    background: #fff;
    border-color: #bbb;
}
.re-btn-l,
.re-btn-m,
.re-btn-s{
    text-align: center;
    cursor: pointer;
    user-select: none;
    color: #333;
    background: #fff;
    border-color: #ccc;
}
.re-input-l,
.re-btn-l{
    height: 35px;
    line-height: 35px;
    font-size: 18px;
    padding: 0 15px;
}
.re-input-m,
.re-btn-m{
    height: 28px;
    line-height: 28px;
    font-size: 15px;
    padding: 0 12px;
}
.re-input-s,
.re-btn-s{
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    padding: 0 8px;
}
.re-input-l:focus,
.re-input-m:focus,
.re-input-s:focus{
    border-color: #44a4ff;
    box-shadow: 0 0 3px #44a4ff;
}
.re-btn-l:hover,
.re-btn-m:hover,
.re-btn-s:hover{
    background: #ddd;
}
.re-btn-success,
.re-btn-warning,
.re-btn-danger{
    color: #fff;
}
.re-btn-success{
    background-image: linear-gradient(#5cb85c 0,#419641 100%);
    border-color: #3e8f3e;
}
.re-btn-success:hover{
    background: #449d44;
    border-color: #398439;
}
.re-btn-warning{
    background-image: linear-gradient(#f0ad4e 0,#eb9316 100%);
    border-color: #e38d13;
}
.re-btn-warning:hover{
    background: #eb9316;
    border-color: #d58512;
}
.re-btn-danger{
    background-image: linear-gradient(#d06a4b 0,#c1542a 100%);
    border-color: #b2512f;
}
.re-btn-danger:hover{
    background: #c15d2e;
    border-color: #ac562d;
}

.re-checkbox-l,
.re-checkbox-m,
.re-checkbox-s{
    vertical-align: middle;
    margin: 0;
}
.re-checkbox-l{
    width: 24px;
    height: 24px;
}
.re-checkbox-m{
    width: 18px;
    height: 18px;
}
.re-checkbox-s{
    width: 14px;
    height: 14px;
}


.re-disabled{
    color: #bbb !important;
    background: #fff !important;
    border-color: #ccc !important;
    pointer-events: none;
}

/*tabs*/
.re-tabs{
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #44a4ff;
    font-size: 0;
    white-space: nowrap;
}
.re-tab{
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    position: relative;
    box-sizing: border-box;
    padding: 4px 8px;
    line-height: 1;
    color: #999;
    cursor: default;
}
.re-tab:first-child{
    border-top-left-radius: 4px;
}
.re-tab:last-child{
    border-right: 1px solid #ddd;
    border-top-right-radius: 4px;
}
.re-tab.active{
    border: 1px solid #44a4ff;
    color: #333;
}
.re-tab.active:after{
    content: '';
    width: 100%;
    height: 2px;
    top: 100%;
    left: 0;
    background: #fff;
    position: absolute;
}
.re-tabbody{
    display: none;
}
.re-tabbody.active{
    display: block;
}

/*single progress*/
.re-progress{
    width: 100%;
    height: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
}

/*menu*/
.re-menu{
    position: fixed;
    top: 0;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    box-shadow: 0 2px 3px #888;
}
.re-menu-item{
    cursor: pointer;
    transition: all .3s;
}
.re-menu-item:hover{
    background: #e0e0e0;
}

/*dialog*/
.re-dialog{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .5);
}
.re-dialog-wrapper{
    max-width: 80%;
    min-width: 240px;
    background: #fff;
    box-shadow: 0 2px 5px #888;
    border-radius: 6px;
    overflow: hidden;
}
.re-dialog-header,
.re-dialog-body,
.re-dialog-footer{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px 15px;
}
.re-dialog-header{
    border-bottom: 1px solid #ddd;
    color: #fff;
    position: relative;
}
.re-dialog-body{
    min-height: 30px;
    max-height: 80%;
    overflow: auto;
}
.re-dialog-footer{
    border-top: 1px solid #ddd;
    white-space: nowrap;
    text-align: right;
}
.re-dialog-close{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    line-height: 1;
    font-size: 20px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.re-dialog-close:hover{
    color: #1e231d;
}
.re-dialog-footer .re-btn-m{
    margin-left: 10px;
}


/* plugins tools ui */
/*upload*/
.re-upload-toolbar{
    margin: 10px 0;
}
.re-upload-list{
    max-height: 60vh;
    min-height: 100px;
    overflow: auto;
    font-size: 0;
    background: #f5f5f9;
}
.re-upload-item{
    width: 33.3%;
    display: inline-block;
    font-size: 14px;
    box-sizing: border-box;
    padding: .8vw;
}
.re-upload-item-inner{
    box-sizing: border-box;
    box-shadow: #aebbc7 0 0 4px;
    border-radius: 4px;
    overflow: hidden;
    background: #fff;
    padding: 10px;
}
.re-upload-preview{
    height: 15vw;
    line-height: 100%;
    overflow: hidden;
    position: relative;
    border: 1px solid #ddd;
    text-align: center;
    white-space: nowrap;
    background: #dedede;
}
.re-upload-preview:after{
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0;
}
.re-upload-imgbox{
    display: inline-block;
    position: relative;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
}
.re-upload-img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}
.re-upload-logo{
    position: absolute;
    width: 10%;
    right: 2px;
    bottom: 2px;
}
.re-upload-info {
    box-sizing: border-box;
    margin-top: 10px;
}
.re-upload-filename{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: #eee;
    color: #555;
    padding: 2px 5px;
}
.re-upload-textarea{
    width: 100%;
    height: 3em;
    box-sizing: border-box;
    border: 1px solid #ddd;
    margin: 10px 0;
    outline: none;
}
.re-upload-textarea:focus{
    border-color: #44a4ff;
    box-shadow: #44a4ff 0 0 3px;
}
.re-upload-checkboxs{
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 4px;
    line-height: 1;
}
.re-upload-guide{
    font-size: 14px;
    color: #556;
    padding: 1em 0 .3em;
}