.reditor-edit{
    min-height: 3em;
    width: 100%;
    border: #ddd solid 1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.reditor-toolbar{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #eee;
    padding: 10px 20px;

    -webkit-box-shadow: 0 2px 3px #888;
    -moz-box-shadow: 0 2px 3px #888;
    box-shadow: 0 2px 3px #888;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-transition: all .8s;
    -moz-transition: all .8s;
    -ms-transition: all .8s;
    -o-transition: all .8s;
    transition: all .8s;

    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
}
.reditor-toolbar::after{
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    min-height: 10px;
    background: transparent;
}
.reditor-toolbar-active,
.reditor-toolbar:hover{
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
.reditor-tool{
    padding: .5em;
    font-size: 14px;
    line-height: 1;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.reditor-tool:hover{
    background: #ccc;
}

/*common*/
.reditor-input-l,
.reditor-input-m,
.reditor-input-s{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
    border: 1px solid #ccc;
}
.reditor-input-l:focus,
.reditor-input-m:focus,
.reditor-input-s:focus{
    border-color: #44a4ff;
    -webkit-box-shadow: 0 0 2px #44a4ff;
    -moz-box-shadow: 0 0 2px #44a4ff;
    box-shadow: 0 0 2px #44a4ff;
}
.reditor-input-l{
    height: 35px;
    font-size: 18px;
}
.reditor-input-m{
    height: 28px;
    font-size: 16px;
}
.reditor-input-s{
    height: 20px;
    font-size: 14px;
}

/*menu*/
.reditor-menu{
    position: fixed;
    top: 0;
    background: #fff;
    border: 1px solid #eee;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 3px #888;
    -moz-box-shadow: 0 2px 3px #888;
    box-shadow: 0 2px 3px #888;
}
.reditor-menu-item{
    cursor: pointer;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.reditor-menu-item:hover{
    background: #e0e0e0;
}

/*dialog*/
.reditor-dialog{
    position: fixed;
    top: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 80%;
    overflow: hidden;
    background: #fff;
    -webkit-box-shadow: 0 2px 5px #888;
    -moz-box-shadow: 0 2px 5px #888;
    box-shadow: 0 2px 5px #888;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.reditor-dialog-header,
.reditor-dialog-body,
.reditor-dialog-footer{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px 15px;
}
.reditor-dialog-header{
    border-bottom: 1px solid #ddd;
    background: #eee;
}
.reditor-dialog-body{
    min-height: 30px;
    max-height: 80%;
    overflow: auto;
}
.reditor-dialog-footer{
    border-top: 1px solid #ddd;
    white-space: nowrap;
    text-align: right;
}
.reditor-dialog-close{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    line-height: 1;
    font-size: 20px;
    color: #000;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.reditor-dialog-close:hover{
    color: #44a4ff;
}
.reditor-dialog-yes,
.reditor-dialog-no{
    border: 1px solid #ccc;
    background: #fff;
    color: #333;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    margin: 0 10px;
    padding: 5px 10px;
    outline: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.reditor-dialog-yes:hover,
.reditor-dialog-no:hover{
    border-color: #44a4ff;
    -webkit-box-shadow: 0 0 3px #44a4ff;
    -moz-box-shadow: 0 0 3px #44a4ff;
    box-shadow: 0 0 3px #44a4ff;
}
